.floating {
    margin-left: 210px;
}

.header {
    height: 85px;
    float: right;
    padding: 20px;
}

.back {
    height: 400px;
    background: #df453a;
    width: 500px;
}

.sizemyimage {
    padding: 30px;
    background: #df453a;
}

.sizemyimage1 {
    margin-left: 230px;
    background: #df453a;
}

.sizemyimage2 {
    margin-left: 50px;
    background: #df453a;
}

.verticalimage {
    height: 360px;
    width: 189px;
}

.horizontalimage {
    height: 192px;
    width: 353px;
    margin-top: 168px;
}

.nav-color {
    background: #2c2c3a;
    padding: 18px;
    color: white;
}

.text-color {}

.left-text {
    margin-left: 80px
}

.bottom-margin {
    margin-bottom: 50px;
}

.bottom-margin-small {
    margin-bottom: 25px;
}

.portfolio {
    padding: 50px;
}

.btn-outline-primary {
    margin-left: 15px;
    color: grey;
    border-color: grey;
}

.image {
    margin-top: 25px;
}